%aside.col-md-4
  %section.user-heading
    = gravatar_for current_user
    %h1= current_user.name
    = link_to current_user, class: 'profile-link' do
      view my profile
    .count= pluralize(current_user.microposts.count, 'micropost')
  = render 'microposts/form'
.col-md-8
  - if @feed.any?
    %h2 Micropost Feed
    %ol.microposts
      = render @feed
      = will_paginate @feed, params: { controller: :static_pages, action: :home }
