- provide :title, 'Change Password'

.row
  .col-md-6.col-md-offset-3
    %h1 Change Password

    = render 'shared/errors', model: @user

    = form_for @user, url: change_password_user_path(@user) do |f|

      .form-group
        = f.label :current_password, 'Current Password', class: 'control-label'
        = f.password_field :current_password, class: 'form-control'

      .form-group
        = f.label :password, 'New Password', class: 'control-label'
        = f.password_field :password, class: 'form-control'

      .form-group
        = f.label :password_confirmation, 'Confirm new password', class: 'control-label'
        = f.password_field :password_confirmation, class: 'form-control'

      %button.btn.btn-primary{type: 'submit', name: 'commit'}
        Submit
