- provide :body_class, 'user-info'
- provide :title, @user.name

.row
  %aside.col-md-4
    %section.user-heading
      = gravatar_for @user
      %h1= @user.name
  .col-md-8
    - if @user.microposts.any?
      %h2= h("Microposts (#{@user.microposts.count})")

      = will_paginate @microposts
      %ol.microposts
        = render @microposts
      = will_paginate @microposts
    - else
      %p No posts yet.
